#file-input {
  display: none;
}

.downloadButton {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 23vw;
  z-index: 5;
}

.uploadButton {
  position: relative;
  display: flex;
  width: fit-content;
  bottom: 15vw;
  left: 2vw;
  z-index: 6;
}

.arrowButton {
  object-fit: cover;
  height: 7vw;
  width: 7vw;
}

.canvas {
  height: 0;
  width: 0;
}

.buttons {
  display: flex;
  background-color: green;
  position: absolute;
}

.swiper-slide img {
  align-self: center;
  width: 30vw;
  height: 50vw;
  object-fit: contain;
}

#slider1,
#slider2,
#slider3,
#slider4 {
  display: flex;
  width: 30vw;
  height: 50vw;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-container {
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.carousel-image {
  height: 100%;
  width: 100%;
}

.background-design {
  background-color: rgb(250, 233, 8);
  position: absolute;
  z-index: -1;
  width: 40vw;
  height: 130vh;
  right: 0;
  top: 40vw;
}
