* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

.slide-img {
  background-color: rgba(255, 0, 0, 0.3);
  width: 60vw;
  height: 46vw;
  position: absolute;
  object-fit: cover;
}

.slide-txt {
  width: 40vw;
  height: 46vw;
  position: absolute;
  color: white;
}

.homeSlider-prev {
  align-self: flex-start;
  height: 46vw;
  width: 17vw;
  z-index: 15;
  left: 0;
  position: absolute;
}

.homeSlider-next {
  height: 46vw;
  width: 17vw;
  z-index: 15;
  right: 0;
  position: absolute;
}

.mousePos {
  height: 60px;
  width: 60px;
  position: absolute;
  z-index: 20;
}

#img1 {
  z-index: 2;
}

#img2 {
  z-index: 1;
}

#img3 {
  z-index: 0;
}

.txtBox {
  background-color: black;
  text-align: center;
  justify-content: center;
}

.slider-section {
  display: flex;
}

.slider-textBox {
  width: 40vw;
  height: 46vw;
  background-color: black;
  overflow: hidden;
  position: relative;
}

.slider-imageBox {
  width: 60vw;
  height: 46vw;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 1150px) {
  .slider-imageBox,
  .slider-textBox,
  .slide-txt,
  .slide-img,
  .homeSlider-next,
  .homeSlider-prev {
    height: 50vw;
  }
}

@media only screen and (max-width: 1025px) {
  .slider-imageBox,
  .slider-textBox,
  .slide-txt,
  .slide-img,
  .homeSlider-next,
  .homeSlider-prev {
    height: 60vw;
  }
}

@media only screen and (max-width: 660px) {
  .slider-imageBox,
  .slide-img {
    height: 76vw;
    width: 100vw;
  }
  .slider-textBox,
  .slide-txt {
    height: 25rem;
    width: 100vw;
  }
  .slider-section {
    flex-direction: column;
    width: 100vw;
  }
  .homeSlider-next,
  .homeSlider-prev {
    height: 190vw;
  }
}
