* {
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: lighter;
}

.overline {
  font-family: "Brandon Grotesque Web Medium";
  font-size: 0.9rem;
}

.headline {
  margin-top: 18px;
  margin-bottom: 18px;
  font-family: "Brandon Grotesque Web Medium";
  line-height: 1.2;
  font-size: 1.2rem;
}

.description {
  margin-top: 18px;
  margin-bottom: 18px;
  font-family: Verdana, sans-serif;
  line-height: 1.8;
  font-weight: 10;
}

.textContainer {
  text-align: start;
}

.card {
  margin-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
  height: 100%;
  display: flex;
  align-items: center;
}

@font-face {
  font-family: "Brandon Grotesque Web Medium";
  src: local("Brandon Grotesque Web Medium"),
    url(../res/fonts/Brandon-Grotesque-Web-Medium.woff) format("woff");
}

@media only screen and (max-width: 1150px) {
  .card {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .headline {
    line-height: 1.12;
    font-size: 1rem;
  }
}
