* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

.App {
  text-align: center;
}

.slide-img {
  background-color: rgba(255, 0, 0, 0.3);
  width: 60vw;
  height: 46vw;
  position: absolute;
  object-fit: cover;
}

.slide-txt {
  width: 40vw;
  height: 46vw;
  position: absolute;
  color: white;
}

#img1 {
  z-index: 2;
}

#img2 {
  z-index: 1;
}

#img3 {
  z-index: 0;
}

.txtBox {
  background-color: black;
  text-align: center;
  justify-content: center;
}

.slider-section {
  display: flex;
}

.slider-textBox {
  width: 40vw;
  height: 46vw;
  background-color: black;
  overflow: hidden;
  position: relative;
}

.slider-imageBox {
  width: 60vw;
  height: 46vw;
  background-color: coral;
  overflow: hidden;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (max-width: 1025px) {
  .slider-imageBox,
  .slider-textBox,
  .slide-elem-1,
  .slide-elem-2,
  .slide-elem-3 {
    height: 60vw;
  }
}

@media only screen and (max-width: 1150px) {
  .slider-imageBox,
  .slider-textBox,
  .slide-elem-1,
  .slide-elem-2,
  .slide-elem-3 {
    height: 50vw;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
