.downloadButton {
  border-width: 5px;
  border-radius: 20px;
  border-color: black;
  height: 25px;
  width: 150px;
  text-align: center;
  align-items: center;
  border-style: solid;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.uploadButton {
  border-width: 5px;
  border-radius: 20px;
  border-color: black;
  height: 25px;
  width: 200px;
  text-align: center;
  align-items: center;
  border-style: solid;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.canvas {
  height: 0;
  width: 0;
}

.swiper-slide img {
  align-self: center;
  width: 30vw;
  height: 50vw;
  object-fit: contain;
}

#slider1,
#slider2,
#slider3,
#slider4 {
  display: flex;
  width: 30vw;
  height: 50vw;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-container {
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.carousel-image {
  height: 100%;
  width: 100%;
}

.background-design {
  background-color: rgb(250, 233, 8);
  position: absolute;
  z-index: -1;
  width: 40vw;
  height: 130vh;
  right: 0;
  top: 40vw;
}
