.carousel-container {
  height: 60vw;
  width: 100vw;
  position: absolute;
  padding: 5%;
}

.carousel {
  display: flex;
  justify-content: space-around;
}

.carousel-image {
  margin: 5px;
  height: 15vw;
  width: 25vw;
  object-fit: cover;
}

.downloadButton {
  border-width: 5px;
  border-radius: 20px;
  border-color: black;
  height: 25px;
  width: 150px;
  text-align: center;
  align-items: center;
  border-style: solid;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.uploadButton {
  border-width: 5px;
  border-radius: 20px;
  border-color: black;
  height: 25px;
  width: 200px;
  text-align: center;
  align-items: center;
  border-style: solid;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

#canvass {
  height: 0;
  width: 0;
}

.canvas {
  height: 0;
  width: 0;
  background-color: green;
}

#canvas {
  height: 500;
  width: 500;
  background-color: green;
}
